<div class="ui form">
    <%= form_for [post, comment] do |f| %>
      <div class="field">
          <%= f.text_field :content, placeholder: "comment..",rows: "1", id: "comment-content", style: "margin-top: 1em;" %>

          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :post_id, value: post.id %>
      </div>
      <%= f.submit "Comment", class: "mini ui blue button", type: "submit", id: "comment-button"%></button>

      <div class="ui hidden divider"></div>
      <div class="ui hidden divider"></div>
    <% end %>
</div>

<!-- <div class="ui form">
  <div class="field">
    <label>Text</label>
    </textarea>
  </div>
  <div class="field">
    <label>Short Text</label>
    <textarea rows="2" style="margin-top: 0px; margin-bottom: 0px; height: 79px;"></textarea>
  </div>
</div> -->
