
<% provide(:title, "Profile page") %>
<div class="ui right inverted vertical menu sidebar">

    <div class="item">
      <a class="small-avatar"><%= image_tag @user.avatar.thumb.url%></a>
      <a class="menu-name"><%= @user.name %></a>
    </div>

     <a class="item">
       this is first
     </a>
     <a class="item">
       this is second
     </a>
     <a class="item">
       third ajd so on
     </a>
     <div class="item">
       <a class="logout"><%= link_to "Log out", destroy_user_session_path, :method => :delete, class: "logout" %></a>
     </div>

</div>

<div class="pusher">
  <div id="show-sidebar" class="button toggler">

    <div id="show-sidebar" class="ui vertical animated teal button" tabindex="0">
        <div class="hidden content">menu</div>
        <div class="visible content">
          <i class="user icon"></i>
        </div>
    </div>

  </div>
  <!-- Site content !-->


      <div class="page-content">

        <div class="user-info">

          <div class="allign">

            <div class="namepic">

              <div class="pic">
                  <%= image_tag @user.avatar.url  %>
                  <% if current_user.id == params[:id].to_i %>
                      <%= link_to "change avatar", edit_user_path(@user), id: "edit-user-avatar", class: "changeava" , remote: true %>
                  <% end %>
              </div>

              <div class="name">
                <h3 class="username"><%= @user.name %></h3>

                <% unless current_user == @user %>
                    <div class="friendship">

                        <% if current_user.friends.include?(@user) %>

                            <%= link_to "unfriend", friendship_path(:id => Friendship.find_by_user_id_and_friend_id(current_user, @user), :friend_id => @user.id), class: "mini ui grey basic button", method: :delete %>

                        <% else %>

                            <%= link_to "add friend", friendships_path(:friend_id => @user.id),class: "mini ui positive basic button", :method => :post %>

                        <% end %>

                    </div>
                <% end %>

              </div>

              <div class"personal-info">

                <h4 class="pi">Personal info</h4>

                <div class="ui divider"></div>


                    <p><b>Age:</b> <%= pluralize(@user.age, "year") %></p>
                    <p><b>Sex:</b> <%= pluralize(@user.age, "year") %></p>
                    <p><b>Occupation:</b> <%= pluralize(@user.age, "year") %></p>
              </div>

              <div class="ui divider"></div>

            </div>

            <div class="friendslist">
              <h4 class="pi">Friends (<%= @user.friends.count %>) </h4>



              <div class="ui mini middle aligned selection list">
                  <% @user.friends.each do |friend|%>
                  <div class="item">

                      <div class="right floated content">
                          <% if current_user.friends.include?(friend) || current_user == friend %>
                              <%= link_to "unfriend", friendship_path(:id => Friendship.find_by_user_id_and_friend_id(current_user, friend), :friend_id => friend.id), class: "mini ui grey basic button", method: :delete %>

                          <% else %>
                              <%= link_to "add", friendships_path(:friend_id => friend.id), class: "mini ui positive basic button", :method => :post %>
                          <% end %>

                      </div>

                      <%= image_tag friend.avatar.thumb.url, class: "ui avatar image" %>

                      <div class="content">
                          <%= link_to friend.name, user_path(friend) %>
                      </div>
                  </div>
                  <%end%>
              </div>

            </div>

            <!-- align close -->
          </div>

        </div>

        <div class="timeline">

          <div class = "timeline-header">
            <h3 class="gead">TIMELINE</h3>
            <div class="ui statistics" id = "center-stats">
                <div class="statistic">
                  <div class="value">
                    <%= @user.posts.all.count %>
                  </div>
                  <div class="label">
                    <%="Post".pluralize(@user.posts.all.count)%>
                  </div>
                </div>
                <div class="statistic">
                  <div class="value">
                    <%=count_all_likes_of_posts_by(@user) %>
                  </div>
                  <div class="label">
                    <%= "Like".pluralize(count_all_likes_of_posts_by(@user))%>
                  </div>
                </div>
                <div class="statistic">
                  <div class="value">
                    <%=count_all_comments_of_posts_by(@user) %>
                  </div>
                  <div class="label">
                    <%="Comment".pluralize(count_all_comments_of_posts_by(@user)) %>
                  </div>
                </div>
              </div>
          </div>

          <div class="feed">

              <% if current_user?(@user) %>
                  <div id="new-post">
                    <%= render 'posts/post_form' %>
                  </div>
              <% end %>

              <div id="posts">
                  <%= render @posts %>
              </div>

        </div>

      </div>



  </div>

</div>
