<% provide(:title, "Forgot password") %>
    <%= link_to image_tag("uzlslogo3.png"), root_path, id: "logo" %>
        <div id="greeting-page" class="large-container">
            <div class="ui container", id="centerit">
                <div class="intro" id="logallign">
                    <h1 class="ui inverted header">Forgot password?</h1>
                    <div class="ui hidden divider"></div>
                    <div class ="ui form">
                        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                          <%= devise_error_messages! %>
                              <div class="field">

                                  <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "email" %>
                              </div>
                              <div class="actions">
                                <%= f.submit "Send me reset password instructions", class: "ui button", id: "logform" %>
                              </div>
                              <div class="ui hidden divider"></div>
                              <div class="ui hidden divider"></div>
                              <div class="ui hidden divider"></div>
                              <div class="ui hidden divider"></div>
                        <% end %>
                    </div>

                    <%= render "devise/shared/links" %>

            </div>
        </div>
    </div>
